p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.app {
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-size: 3rem
}

.warn {
  font-size: 3rem;
  color: #d6342c  ;
}

.current-num-day {
  font-size: 10rem;
  color: #d6342c  ;
}

.record-num-day {
  color: #006e2f;
}

.header {
  margin-bottom: 3rem;
}

.footer {
  margin-top: 3rem;
}
